<% @businesses.each do |business| %>
  <% if business.featured? %>
    <div class="card-business border border-primary">
      <div class="card-header-business">
        <%= image_tag business.logo, class: "photo-header"%>
        <h6 class="card-title-header"><%= business.name %></h6>
      </div>
      <div class="row py-2 d-flex justify-content-between">
        <% business.products.each do |product| %>
          <div class="col-md-3">
            <% if product.image.attached? %>
              <%= image_tag url_for(product.image), class:"rounded border", style:"width: 50px; height: 50px;" %>
            <% else %>
              <img src="producto-sin-imagen.jpg" alt="" class="rounded border" style="width: 50px; height: 50px;">
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to "Visitar", business, class: "btn-card-business" %>
    </div>
  <% end %>
<% end %>

