<section class="categories-section">
  <div class="row mt-3 mb-0 container-images">
    <% @businesses.each do |business| %>
      <% if business.featured? %>
        <div class="col-md-3 mb-2 img-company image">
          <%= link_to business, class: "card-conten" do %>
            <%= image_tag business.logo, class: "rounded", style: "width: 100%;" %>
          <% end %>
          <div class="overlay">
            <h2><%= business.phone %></h2>
            <h3><%= business.address %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
