<section class="background-radial-gradient">
  <div class="container contenedor">
    <div class="row">
      <div class="col-md-12 text-center content-header">
        <span class="display-3 font-weight-bold text-white">Inmuebles</span>
        <h1 class="content-head text-primary">Publica y encuentra Casas, Oficinas, Apartamentos, Locales y más</h1>
        <p class="content-head text-white">Ademas encontrarás productos y servicios al alcance de un clic. Hogar, ferretería, alimentos, ropa, calzado, repuestos, mecánicos, albañiles, y mucho más…</p>
        <%= link_to "Contratar Servicios", contact_path, class: "btn btn-sm btn-primary mb-3"%>
      </div>
    </div>
  </div>
</section>

 