<section class= "container-fluid background-radial-gradient overflow-hidden over py-5">
  <div class="container my-5">
    <div class= "row justify-content-center">
      <% @properties.each do |property| %>
        <div class="col-lg-4">
          <%= render property %>   
        </div>
      <% end %>
      <% if user_signed_in? %> 
        <% unless current_user.admin?%>        
          <%= link_to "New property", new_property_path %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
