
<section class= "container-fluid background-radial-gradient overflow-hidden over p-5">
  <div class="container">
    <h2 class="text-white">Contáctanos</h2>
    <p class="text-white">Puedes contactarnos por WhatsApp, email o Instagram.</p>
    <div class="contacto">
      <a href="https://wa.me/1234567890" class="wa"><i class="fab fa-whatsapp wa"></i> WhatsApp</a>
      <a href="mailto:contacto@tudominio.com" class="em"><i class="fas fa-envelope em"></i> Email</a>
      <a href="https://www.instagram.com/tudominio/" class="ig"><i class="fab fa-instagram ig"></i> Instagram</a>
    </div>
  </div>
</section>