<div class="container-fluid contenedor hero">
  <div class="row container">
    <div class="col-md-12 text-center content-header text-danger">
      <h1>Sección de noticias</h1>
      <p>Aquí encontrarás todas las noticias sobre el área administrativa de las empresas…</p>
    </div>
  </div>
</div>
