<div class="container-fluid contenedor portrait">
  <div class="row container">
    <div class="col-md-12 text-center">
      <h1>Publica y encuentra lo que quieras en un solo sitio</h1>
      <p>Aquí encontrarás todos los productos y servicios al alcance de un clic. Hogar, ferretería, alimentos, ropa, calzado, repuestos, mecánicos, albañiles, y mucho más…</p>
      <a class="btn btn-success" href="#contact">Contratar servicios</a>
    </div>
  </div>
</div>

<%= render 'layouts/main' %>
 
<%= render 'layouts/info' %>
