<div class="container contenedor">
  <div class="row">
    <div class="col-md-12 text-center">
      <span class="display-3 font-weight-bold"><%= category.name %></span>
      <h1>Publica y encuentra lo que quieras en un solo sitio</h1>
      <p><%= category.description %></p>
      <a class="btn btn-success" href="#contact">Contratar servicios</a>
    </div>
  </div>
</div>
