<div class="row">
  <% @categories.each do |category| %>
    <div class="col-md-3">
      <div class="card " >
        <%= link_to category, class: "card-content" do %>
          <div class="card-body">
            <h5 class="card-title display-4"> <i class="<%= category.icon %>"></i> </h5>
            <p class="card-text"><%= category.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
