
<div class="container contenedor ">
  <div class="row">
    <div class="col-md-12 text-center content-header">
      <span class="display-3 font-weight-bold">Categorías</span>
      <h1 class="content-head text-warning">Publica y encuentra lo que quieras en un solo sitio</h1>
      <p class="content-head text-white">Aquí encontrarás todos los productos y servicios al alcance de un clic. Hogar, ferretería, alimentos, ropa, calzado, repuestos, mecánicos, albañiles, y mucho más…</p>
      <a class="btn btn-success" href="#contact">Contratar servicios</a>
    </div>
  </div>
</div>

<section class="container">
      <!--Carousel-->
      <div id="carouselExampleCaptions" class="carousel slide mt-0 mb-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/Passion.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="fw-light">Haz crecer tu negocio, dándole presencia en internet</h2>
              <p class="lead text-muted">Muestra tus productos y servicios a los clientes cuando busquen negocios como el tuyo…</p>
              <p>coloca el cursor sobre mi así no me desplazo</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/Clear Sky.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="fw-light">Aqui pueden ir productos destacados</h2>
              <p class="lead text-muted">Esos productos que podrían ir aquí son los que pagan por aparecer aqui o los que ganan la subasta</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/Master Card.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="fw-light">Aqui pueden ir Categorías destacadas</h2>
              <p class="lead text-muted">Solo se mostrarian algunas categorias...</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/Green to dark.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="fw-light">Aqui pueden ir Tiendas destacadas</h2>
              <p class="lead text-muted">Solo se mostrarian algunas tiendas que pague una cuota especial por aparecer aqui...</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--Call To Action One-->
      
      <!--Main-->
      <div class="row main">
        <div class="col-md-8">
          <h3 class="pb-2 mb-2 mt-4 fst-italic border-bottom">
            Tiendas Destacadas
          </h3>
          <!--Tiendas destacadas-->
          <section class="categories-section">
            <div class="row mt-3 mb-0 container-images">
              <a href="supermercados.html">
              <div class="col-md-3 mb-2 img-company image">
                <img src="fp-mejias_web.jpg" alt="" class="rounded" style="width: 100%;">
                <div class="overlay">
                  <h2>0273/5460000</h2>
                  <h3>Barinas</h3>
                </div>
              </a>
              </div>

              <div class="col-md-3 mb-2 img-company image">
                <a href="#"><img src="8.jpeg" alt="" class="rounded" style="width: 100%;"></a>
                <div class="overlay">
                  <h2>0273/5460000</h2>
                  <h3>Barinas-Santa Rosa</h3>
                </div>
              </div>

              <div class="col-md-3 mb-2 img-company image">
                <a href="#"><img src="sport-plus-mejias_web.png" alt="" class="rounded" style="width: 100%;"></a>
                <div class="overlay">
                  <h2>0273/5460000</h2>
                  <h3>Barinas-Barinitas</h3>
                </div>
              </div>

              <div class="col-md-3 mb-2 img-company image">
                <a href="#"><img src="Photo.png" alt="" class="rounded" style="width: 100%;"></a>
                <div class="overlay">
                  <h2>0273/5460000</h2>
                  <h3>Barinas-Socopo</h3>
                </div>
              </div>
            </div>
    
            <div class="row mb-0">
              <div class="col-md-3 mb-2 img-company"><a href="#"><img src="7.jpeg" alt="" class="" style="width: 100%;"></a></div>
              <div class="col-md-3 mb-2 img-company"><a href="#"><img src="lapiz y palel.png" alt="" class="" style="width: 100%;"></a></div>
              <div class="col-md-3 mb-2 img-company"><a href="#"><img src="telopublico-250x200.jpg" alt="" class="" style="width: 100%;"></a></div>
              <div class="col-md-3 mb-2 img-company"><a href="#"><img src="logo (2).png" alt="" class="" style="width: 100%;"></a></div>
            </div>
          </section>
          <!--Categorias destacados-->
          <h3 class="pb-2 mb-2 mt-4 fst-italic border-bottom">
            Categorías Destacadas
          </h3>
          <section class="categories-section">
            <div class="row">
              <div class="col-md-4">
                <div class="card " >
                  <a href="ferreteria.html" class="card-content">
                    <div class="card-body ">
                      <h5 class="card-title display-4"> <i class="fas fa-warehouse"></i> </h5>
                      <p class="card-text">Ferretería</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" >
                  <a href="supermercados.html" class="card-content">
                    <div class="card-body">
                      <h5 class="card-title display-4"><i class="fas fa-shopping-cart"></i> </h5>
                      <p class="card-text">Supermercados</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" >
                  <a href="ropa.html" class="card-content">
                    <div class="card-body">
                      <h5 class="card-title display-4"><i class="fas fa-tshirt"></i> </h5>
                      <p class="card-text">Ropa</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4">
                <div class="card" >
                  <a href="juridico.html" class="card-content">
                    <div class="card-body">
                      <h5 class="card-title display-4"><i class="fas fa-balance-scale"></i> </h5>
                      <p class="card-text">Jurídico & Contable</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" >
                  <a href="panaderia.html" class="card-content">
                    <div class="card-body">
                      <h5 class="card-title display-4"><i class="fas fa-birthday-cake"></i></h5>
                      <p class="card-text">Panadería y pastelería</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" >
                  <a href="talleres.html" class="card-content">
                    <div class="card-body">
                      <h5 class="card-title display-4"><i class="fas fa-wrench"></i> </h5>
                      <p class="card-text">Talleres Mecánicos</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </section>
          <!--Productos destacados-->
          <h3 class="pb-2 mb-2 mt-4 fst-italic border-bottom">
            Productos Destacados o Tiendas Destacadas?
          </h3>
          <section class="categories-section">
            <section class="top-product p-1" >
              <div class="row mb-5 top">
                <div class="col-md-6"> 
                  <div class="card" >
                    <img class="card-img-top" src="img/forniture-two.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title border-bottom">Mueblería Mudial</h5>
                      <p class="card-text">En mueblería mundial tenemos una gran variedad de muebles, de la mejor calidad y a los mejores precios, disenos exclusivos. Envios a cualquier lugar del país</p>
                      <a href="" class="btn btn-primary">Ver detalles</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6"> 
                  <div class="card" >
                    <img class="card-img-top" src="img/forniture-two.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title border-bottom">Mueblería Mudial</h5>
                      <p class="card-text">En mueblería mundial tenemos una gran variedad de muebles, de la mejor calidad y a los mejores precios, disenos exclusivos. Envios a cualquier lugar del país</p>
                      <a href="" class="btn btn-primary">Ver detalles</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-5 top">
                <div class="col-md-6"> 
                  <div class="card" >
                    <img class="card-img-top" src="img/nutrittion.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title border-bottom">Centro Dietético Esmeralda</h5>
                      <p class="card-text">En CDE contamos con profesionales de nutrición altamente calificados, que te atenderan de la mejor manera, 
                        siempre de la mano contigo.</p>
                      <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card" >
                    <img class="card-img-top" src="img/nutrittion.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title border-bottom">Centro Dietético Esmeralda</h5>
                      <p class="card-text">En CDE contamos con profesionales de nutrición altamente calificados, que te atenderan de la mejor manera, 
                        siempre de la mano contigo.</p>
                      <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                  </div>
                </div>
              </div>
        
              

              <div class="row mb-5 top">
                <div class="col-md-6 ">
                  <div class="card" >
                    <img class="card-img-top" src="img/Sport-Plus+.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title border-bottom">Sport Plus+ Tienda</h5>
                      <p class="card-text">Sport Plus+ Tienda ofrece para ti la ultima tendencia en ropa deportiva, ademas de productos nutricionales,
                        e implementos deportivos</p>
                      <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="card" >
                    <img class="card-img-top" src="img/Sport-Plus+.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title border-bottom">Sport Plus+ Tienda</h5>
                      <p class="card-text">Sport Plus+ Tienda ofrece para ti la ultima tendencia en ropa deportiva, ademas de productos nutricionales,
                        e implementos deportivos</p>
                      <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <!--Nav Buttons-->
          <nav class="content-btn-categories" aria-label="Pagination">
            <a class="btn btn-outline-primary" href="#"><i class="fas fa-arrow-circle-up"></i></a>
            <a class="btn btn-outline-secondary" href="index.html">Inicio</a>
          </nav>
        </div>
        <!--Aside-->
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="fst-italic">Sobre Nosotros</h4>
              <p class="mb-0">Somos una alternativa para ofrecer, comprar o saber a donde ir cuando necesites algo. Tus anuncios pueden mostrarse en internet cuando alguien busca productos o servicios como los ofrecidos por ti.</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">Categorías</h4>
              <ol class="list-unstyled mb-0">
                <% @categories.each do |category| %>
                    <li>
                      <%= link_to category.name, category %>
                    </li>
                  <% end %>
              </ol>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">Algo más</h4>
              <ol class="list-unstyled">
                <li><a href="#">Prensa</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Eventos</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>