<div class="row mt-3 mb-3 ">
  <% @products.each do |product| %>
    <% if product.featured? %>
      <div class="col-md-3 mb-2">
        <%= link_to product, class: " card card-conten" do %>
          <div class= "ribbon-wrap">
            <div class= "ribbon"><small style="font-size: 14px;">Producto destacado</small></div>
          </div>
          <%= image_tag product.image, class: "rounded size"%>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
