<% if notice %>
  <p class="alert alert-success text-center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger text-center"><%= alert %></p>
<% end %>

<script>
  setTimeout(function(){
    document.querySelector('.alert').remove();
  }, 5000);
</script>