<footer class="text-white py-3 background-radial-gradient" id="contact">
  <div class="container">
      <section id="info-two">
        <div class="container">
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="info-left">
                <h2 class="text-footer">Haz crecer tu negocio, dándole presencia en internet.</h2>
                <h2 class="text-footer">Contactame.</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-right">
                <p class=" text-justify">Los usuarios verán tus productos o servicios desde cualquier dispositivo, ya sea una Pc, Smartphone o una Tablet; convirtiendo a este internauta en un potencial cliente.</p>
                <div class="row content-btn-footer">
                  <div class="col-md-4 text-center">
                    <a href="https://www.instagram.com/mejias_web/" target="black" class="btn btn-outline-primary btn-lg btn-block color">Instagram</a>
                  </div>
                  <div class="col-md-4 text-center">
                    <a href="https://www.linkedin.com/feed/" target="black" class=" btn btn-outline-primary btn-lg btn-block color">LinkedIn</a>
                  </div>
                  <div class="col-md-4 text-center">
                    <a href="mailto:josemejias081@gmail.com" class=" btn btn-primary btn-lg btn-block">Email</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="line"></div>
      <div class="container text-center pb-3">
        <h2 class="title-finish">&copy; José Mejias | @josemejias081</h2>
      </div>
  </div>
</footer>
