<header class="header">
  <div class="collapse" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white ">Sobre Nosotros</h4>
          <p class="text-muted">Somos una alternativa para ofrecer, comprar o saber a donde ir cuando necesites algo. Tus anuncios pueden mostrarse en internet cuando alguien busca productos o servicios como los ofrecidos por ti.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><%= link_to "crear categoria", new_category_path, class: "text-dark" %>  <i class="fab fa-linkedin"></i></li>
            <li><a href="#" class="text-white"><i class="fab fa-linkedin"></i> Linkedin</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="#" class="text-white"><i class="fas fa-envelope"></i> Email</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark  shadow-sm">
    <div class="container">
      <a href="index.html" class="navbar-brand d-flex align-items-center">
        <i class="fas fa-bullhorn"></i> <strong class="pl-1 text-dark">Purchases & Sales</strong>
      </a>
      <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  
</header>
