<section class="container info-one">
  <div class="row">
    <div class="col-md-6 my-3"> <img src="gallery-1.jpg"  alt="" class="rounded shadow"style="width: 100%;"> </div>
    <div class="col-md-6 own-text"> 
      <h3>Brindamos todas las facilidades para un mejor acercamiento a tus clientes y los potenciales clientes</h3>
      <p class="text-justify"> Muchas personas usan telopublico.com para ofrecer, comprar o saber a donde ir cuando necesite algo. Tus anuncios pueden mostrarse en internet cuando alguien busca productos o servicios como los ofrecidos por ti.</p>
      <p class="text-justify">Los usuarios verán tus productos o servicios desde cualquier dispositivo, ya sea una Pc, Smartphone o una Tablet; convirtiendo a este internauta en un potencial cliente.</p>
      <%= link_to "Contratar Servicios", contact_path, class: "btn btn-sm btn-info"%>
    </div>
  </div>
  <!-- Mas Productos destacados-->
  <h3 class="pb-2 mb-2 mt-4 fst-italic border-bottom border-top">
    Negocios destacados
  </h3>
  <section class="galery-produc-top">
    <%# render "businesses/businessfeatured_home"%>
  </section>
  <!-- Negocios destacados 28-02-23-->
  <section class="container flex center">
    <%= render "businesses/businessfeatured_home"%>
  </section>
  <!--end-->

  <div class="row mt-5 own-text">
    <div class="col-md-6 my-3"> 
      <h3>El sitio publicitario más asequible y con mayor alcance de la ciudad.</h3>
      <p class="text-justify"> Un párrafo descriptivo que les dice a los clientes lo bueno que somos y demuestra que somos la mejor elección que han hecho. Podemos usar algunas palabras atractivas y hacer alarde de las capacidades que atraerán a futuros clientes y los animarán a contratarlo de inmediato. Hagamos una lista de servicios planes para ofrecer.</p>
      <%= link_to "Contratar Servicios", contact_path, class: "btn btn-sm btn-info"%>
    </div>
    <div class="col-md-6"> <img src="gallery-2.jpg" alt="" class="rounded shadow" style="width: 100%;"> </div>
  </div>

  <!--Te podrian interesar -->
  <h3 class="pb-2 mb-2 mt-4 fst-italic border-bottom border-top">
    Te podrían interesar
  </h3>
  <section class="galery-produc-top">
    <div class="row mt-3 ">
      <div class="col-md-3 mb-2"><img src="book-one.jpg" alt="" class="rounded" style="width: 100%;"></div>
      <div class="col-md-3 mb-2"><img src="cup-one.jpg" alt="" class="rounded" style="width: 100%;"></div>
      <div class="col-md-3 mb-2"><img src="cup-two.jpg" alt="" class="rounded" style="width: 100%;"></div>
      <div class="col-md-3 mb-2"><img src="book-two.jpg" alt="" class="rounded" style="width: 100%;"></div>
    </div>
  </section>
  <!--Call To Action Two-->
  <section class="call-to-action">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4">
        <h3>Unete a nosotros y haz crecer tu negocio.</h3>
        <p class="text-justify">Te brindamos los mejores planes publicitarios para que tu negocio crezca cada día más..!</p>
      </div>
      <div class="col-md-6"><img src="telopublico-1024x568.jpg" alt="" style="width: 100%;"></div>
      <div class="col-md-2"><%= link_to "Quiero afiliarme", contact_path, class: "btn btn-sm btn-info btn-block"%></div>
    </div>
  </section>
  <!--Product Gallery-->
  <section class="gallery">
    <div class="row">
      <div class="col-md-6 mb-2"><img src="gallery-1.jpg" alt="" class="rounded shadow" style="width: 100%;"></div>
      <div class="col-md-6 mb-2"><img src="clothes.jpg" alt="" class="rounded shadow" style="width: 100%;"></div>
    </div>

    <div class="row mt-3 ">
      <div class="col-md-3 mb-2"><img src="gallery1-free-img.jpg" alt="" class="rounded shadow" style="width: 100%;"></div>
      <div class="col-md-3 mb-2"><img src="pan.jpg" alt="" class="rounded shadow" style="width: 100%;"></div>
      <div class="col-md-3 mb-2"><img src="ferreteria.jpg" alt="" class="rounded shadow" style="width: 100%;"></div>
      <div class="col-md-3 mb-2"><img src="viveres.jpg" alt="" class="rounded shadow" style="width: 100%;"></div>
    </div>
  </section>
</section>
