<section class="container">
    <!--Carousel-->
  <div id="carouselExampleCaptions" class="carousel slide mt-0 mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="auto-header.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="fw-light">Haz mantenimoento periodico a tu vehiculo</h2>
          <p class="lead text-light">En la categoría Autos & Repuestos encontraras una gran variedad de tiendas donde encontraras el repuesto que buscas.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="motos-header.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="fw-light">Visita la categoría Motos & Repuestos</h2>
          <p class="lead text-light">Allí encontraras la moto de tus suenos, ademas de los repuestos e implementos que puedas necesitar.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="calzado header.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="fw-light">El modelo y la marca de zapatos que buscas lo encuentras aquí.</h2>
          <p class="lead text-light">Una gran variedad de tiendas, para todos los estilos y todos los gustos</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="cow.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="fw-light">Amigo productor ven a conocer las amplias ofertas que hay para ti.</h2>
          <p class="lead text-light">Desde una grapa hasta un semental puedes encontrar aqui, pasea por las tiendas a solo un clic.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Call To Action One-->
  <section class=" call-to-action-one text-center">
    <div class="row text-init justify-content-center align-items-center">
      <div class="col-md-6 ">
        <h2 class="fw-light">Haz crecer tu negocio, dándole presencia en internet</h2>
        <p class="lead text-muted">Muestra tus productos y servicios a los clientes cuando busquen negocios como el tuyo…</p>
        <p>
          <a href="categories.html" class="btn btn-primary my-2">Ver categorias</a>
          <a href="#contact" class="btn btn-secondary my-2">Contratar Servicios</a>
        </p>
      </div>
    </div>
  </section>

  <!--Categorias destacados-->
  <h3 class="pb-2 mb-2 mt-4 fst-italic border-bottom">
    Categorías Destacadas
  </h3>
  <section class="categories-section">
    <div class="row">
      <div class="col-md-3">
        <div class="card " >
          <a href="ferreteria.html" class="card-content">
            <div class="card-body ">
              <h5 class="card-title display-4"> <i class="fas fa-warehouse"></i> </h5>
              <p class="card-text">Ferretería</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <a href="supermercados.html" class="card-content">
            <div class="card-body">
              <h5 class="card-title display-4"><i class="fas fa-shopping-cart"></i> </h5>
              <p class="card-text">Supermercados</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <a href="ropa.html" class="card-content">
            <div class="card-body">
              <h5 class="card-title display-4"><i class="fas fa-tshirt"></i> </h5>
              <p class="card-text">Ropa</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <a href="motos.html" class="card-content">
            <div class="card-body">
              <h5 class="card-title display-4"><i class="fas fa-motorcycle"></i> </h5>
              <p class="card-text">Motos</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="card" >
          <a href="juridico.html" class="card-content">
            <div class="card-body">
              <h5 class="card-title display-4"><i class="fas fa-balance-scale"></i> </h5>
              <p class="card-text">Jurídico & Contable</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <a href="panaderia.html" class="card-content">
            <div class="card-body">
              <h5 class="card-title display-4"><i class="fas fa-birthday-cake"></i></h5>
              <p class="card-text">Panadería y pastelería</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <a href="talleres.html" class="card-content">
            <div class="card-body">
              <h5 class="card-title display-4"><i class="fas fa-wrench"></i> </h5>
              <p class="card-text">Talleres Mecánicos</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <a href="educacion.html" class="card-content">
            <div class="card-body">
              <h5 class="card-title display-4"><i class="fas fa-book"></i> </h5>
              <p class="card-text">Educación</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--Categorias destacados-->
  <h3 class="pb-2 mb-2 mt-4 fst-italic border-bottom">
    Productos destacados
  </h3>
  <section class="galery-produc-top">
    <div class="row mt-3 ">
      <div class="col-md-3 mb-2"><img src="book-one.jpg" alt="" class="rounded" style="width: 100%;"></div>
      <div class="col-md-3 mb-2"><img src="cup-one.jpg" alt="" class="rounded" style="width: 100%;"></div>
      <div class="col-md-3 mb-2"><img src="cup-two.jpg" alt="" class="rounded" style="width: 100%;"></div>
      <div class="col-md-3 mb-2"><img src="book-two.jpg" alt="" class="rounded" style="width: 100%;"></div>
    </div>
  </section>
</section>